.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    color: unset;
    background-color: #fff;
    border-color: unset;
    border: unset;
    border: 1px solid rgba(32, 166, 210, 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: unset;
}

.common-filter-show.active{
    display: block;
}

.student_assessment_body .sidebar-wrapper{
    display: none;
}
.student_assessment_body .header-dropdown-ul ul li:not(li:last-child){
    display: none;
}
.student_assessment_body .sidebar-wrapper .mobile-menu-trigger{
    display: none;
}

.react-transform-wrapper,
.react-transform-component{
    width: 100% !important;
}
.react-transform-component{
    height: 650px !important;
}
.react-transform-component{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.images_plus_button{
    border: unset;
    background-color: transparent;
    outline: unset;
}
.images_pogressbar{
    margin: 0 10px;
}
.bottom_images_tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #001b4a;
}
.ph-tab-nav-block .nav.nav-tabs a {
    margin-right: 25px;
}
.bottom_images_tools_inner{
    display: flex;
}
.chage_center_btn{
    display: flex;
    align-items: center;
}
.total_images{
    display: flex;
    padding: 4.5px 7.5px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 25px;
}
.total_images p{
    font-size: 14px;
    color: #272D36;
}
.total_images span{
    display: inline-block;
    margin: 0 3px;
}
.prev_next_img_btn{
    cursor: pointer;
}
.physics-details-box{
    cursor: pointer;
}






@media screen and (max-width: 400px){
    .ph-tab-nav-block .nav.nav-tabs a {
        margin-right: 15px;
    }
}


.sidebar-wrapper{
    display: none;
}