

@media screen and (min-width: 1080px) {}
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1920px) {}


@media screen and (max-width: 1800px) {
    .att-session-col:nth-child(1) {
        width: 40%;
    }

}
@media screen and (max-width: 1600px) {
    .assess-item-name{
        font-size: 25px;
    }
    .filter-list-desc{
        padding: 15px;
    }
    .fs-col-3 {
        width: 200px;
    }
    .color-scheme-ul ul li{
        width: 25%;
    }
    .att-session-col:nth-child(1), .att-session-col:nth-child(4) {
        width: auto;
    }
}
@media screen and (max-width: 1440px) {
    .breadcrumb-left-col, .breadcrumb-right-col .cm-filter-left-col, .cm-filter-right-col{
        width: 100%;
    }

    .filter-note p, .common-head-logo-title{
        margin-bottom: 15px;
    }
    .ext-cha-version2, .ext-common-content{
        padding: 15px;
    }
    .common-dropdown .filter-show-trigger .btn.active{
        padding-bottom: 25px;
    }
    .fs-col-1 {
        margin-bottom: 20px;
    }
    .settings-tab-nav .nav-tabs{
        padding: 0 15px 0;
        overflow-x: auto;
    }
    .settings-tab-nav .nav-tabs .nav-link.active:after{
        bottom: 0;
    }
    .settings-tab-nav .nav-tabs .nav-item{
        margin-right: 15px;
    }
    .att-session-col, .att-session-col:nth-child(1), .att-session-col:nth-child(4){
        width: 50%;
    }
    .attendance-session-details-box{
        justify-content: unset;
    }
    .att-session-col + .att-session-col{
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
    }
    .att-session-col{
        margin-bottom: 15px;
    }

}
@media screen and (max-width: 1360px){
    .login-wrapper .modal-dialog{
        max-width: 100%;
        margin: 1.75rem 15px;
    }
    .header-dropdown-ul ul li{
        margin-right: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 1280px) {
    .header-title-block{
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .sidebar-open{
        overflow: hidden;
    }
    .sidebar-wrapper{
        top: 0;
        height: 100%;
        width: 250px;
        left: -260px;
        opacity: 0;
        padding-bottom: 45px;
        visibility: hidden;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .sidebar-open .sidebar-wrapper {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    .sidebar-open .cm-overlay {
        visibility: visible;
        opacity: 1;
    }
    .mobile-menu-trigger{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        position: relative;
        z-index: 2;
        margin-left: 15px;
    }
    .mobile-sidebar-close{
        display: block;
        position: absolute;
        right: 8px;
        top: 5px;
        font-size: 18px;
        color: #20A6D2;
        font-weight: 600;
    }
    .main-content-wrapper{
        padding-left: 0;
    }
    .common-padding-content{
        padding: 25px;
    }
    .cm-d-none{
        display: none;
    }
    .header-dropdown-ul ul li{
        margin-right: 0px;
        padding-right: 0px;
        border-right: 0
    }
    .sidebar-logout a{
        padding: 12px 20px;
    }
    .time-question-box{
        padding: 20px 20px 15px;
    }
    .login-col-left, .login-col-right{
        width: 50%;
    }
    .login-form-content-block, .login-bg-block{
        padding: 40px;
    }
    .login-bg-block{
        min-height: 650px;
    }
    .login-desc-block h2{
        font-size: 40px;
    }
    .color-col{
        margin-bottom: 30px;
    }
    .color-scheme-content-block .tab-setting-save-btn{
        padding-top: 20px;
    }


}


@media screen and (max-width: 991px) {
    .fs-col-1, .fs-col-2, .fs-col-3 {
        width: 100%;
        margin-bottom: 15px;
    }
    .common-filter-show{
        padding: 20px;
    }
    .time-col-left{
        width: 100%;
    }
    .time-col-right{
        width: 100%;
        padding: 20px 0 0;
    }
    .time-seat-ul ul li{
        width: auto;
    }
    .flag-pagination-block{
        margin-top: 60px;
    }
    .physics-col-left{
        padding:0 0 20px;
        width: 100%;
    }
    .physics-col-right{
        width: 100%;
    }
    .cm-card-header button{
        justify-content: unset;
    }
    .cm-accordion-number{
        margin-right: 10px;
        min-width: 36px;
    }
    .cm-accordion-notify{
        margin-left: auto;
        margin-right: 10px;
        min-width: 48px;
        display: inherit;
    }
    .cm-accordion-pm-icon{
        min-width: 24px;
    }
    .cm-accordion-title{
        min-width: auto;
    }
    .login-form-content-block, .login-bg-block {
        padding: 40px 25px;
    }
    .login-bg-block {
        min-height: 530px;
        background-position: right;
    }
    .login-desc-block h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .login-form-title h3{
        font-size: 30px;
    }
    .attendance-drop-date .common-dropdown + .common-dropdown {
        margin-left: 10px;
    }
    .attendance-right-col{
        width: 100%;
        padding: 30px 0 0;
    }
    .attendance-left-col{
        width: 100%;
    }

}
@media screen and (max-width: 767px) {
    .header-block{
        padding: 0 15px;
    }
    .filter-sort-label{
        width: 100%;
        margin-bottom: 10px;
    }
    .assess-item-name, .common-head-logo-title h3, .time-management-title h3 {
        font-size: 20px;
    }
    .time-section-block{
        padding-top: 20px;
    }
    .time-management-wrapper{
        padding: 20px 15px;
    }
    .question-pagination{
        width: 100%;
        margin-top: 15px;
    }
    .question-answer-block .common-checkbox label:before {
        width: 20px;
        height: 20px;
        top: 0px;
        border: 1px solid #272D36;
    }
    .question-answer-block .common-checkbox label{
        padding-left: 30px;
    }
    .question-answer-block .common-checkbox input:checked + label:after{
        top: 4px;
        left: 7px;
        width: 6px;
        height: 10px;
    }
    .common-filter-show.active{
        border-radius: 8px;
    }
    .question-pagination a{
        min-width: 95px;
    }
    .question-pagination p{
        margin: 0 10px;
    }
    .exit-finish-test-block{
        padding: 15px;
    }
    .common-inner-padding-block {
        padding: 0 15px 25px;
    }
    .filter-content-block{
        justify-content: flex-start;
    }
    .physics-header-nav{
        padding: 20px;
        flex-wrap: wrap;
    }
    .login-col-left, .login-col-right{
        width: 100%;
    }
    .login-bg-block{
        min-height: 350px;
    }
    .login-desc-block h2, .login-form-title h3{
        font-size: 25px;
    }
    .login-desc-block p, .login-form-title p{
        font-size: 14px;
    }
    .my-form {
        margin-top: 20px;
    }
    .login-body-wrapper .close{
        right: 15px;
        top: 15px;
    }
    .common-setting-content-block, .tab-setting-save-btn{
        padding: 15px;
    }
    .web-mob-col{
        margin-right: 15px;
    }
}
@media screen and (max-width: 637px) {}
@media screen and (max-width: 575px) {
    .common-padding-content {
        padding: 25px 15px;
    }
    .logo-block img {
        max-width: 180px;
    }
    .header-content-row{
        width: calc(100% - 180px);
    }
    .mail-dropdown{
        padding: 0 10px 0 0;
    }
    .mail-dropdown img{
        min-width: 30px;
    }
    .mobile-menu-trigger{
        margin-left: 30px;
    }
    .mail-highlight{
        right: -10px;
    }
    .main-content-wrapper{
        padding-top: 76px;
    }
    .filter-box + .filter-box {
        margin-left: 0;
        margin-top: 10px;
    }
    .filter-box{
        width: 100%;
    }
    .filter-list-box, .main-external-channels-wrapper .fl-col, .fl-col{
        margin-bottom: 20px;
    }
    .filter-item-name h3 a{
        min-height: auto;
    }
    .filter-note p{
        font-size: 14px;
    }
    .common-search-hold{
        margin-right: 0;
    }
    .common-search-hold input{
        min-width: 100%;
    }
    .physics-file-process{
        width: 100%;
        margin-top: 15px;
    }
    .web-mob-col{
        max-width: 100%;
        margin: 0 0 15px;
    }
    .home-screen-editor-block{
        margin-top: 15px;
    }
    .tab-common-inner-title h3, .tab-common-sub-inner-title h3, .virtual-room-title h3{
        font-size: 18px;
    }
   .cv-download-ic{
        width: 100%
    }



}


@media screen and (max-width: 480px) {}
@media screen and (max-width: 450px) {
    .filter-category-ul ul li{
        width: 100%;
    }
    .exit-finish-test-block{
        flex-flow: column;
    }
    .common-exit-btn a{
        margin-bottom: 10px;
    }
    .common-exit-btn a, .save-finish-btn a{
        text-align: center;
        min-width: 200px;
        max-width: 200px;
        display: block;
    }
    .save-finish-btn a{
        display: block;
    }
    .finish-test-btn{
        margin: 10px 0 0;
    }
    .att-session-col, .att-session-col:nth-child(1), .att-session-col:nth-child(4){
        width: 100%;
    }
}
@media screen and (max-width: 430px) {}
@media screen and (max-width: 400px) {
    .main-external-channels-wrapper .filter-box ul li {
        width: 100%;
    }
    .main-external-channels-wrapper .filter-box ul li + li{
        margin-left: 0;
        margin-top: 15px;
    }
    .common-filter-show.active{
        border-radius: 0px 8px 8px 8px;
    }
    .ph-tab-nav-block .nav-tabs .nav-link{
        font-size: 14px;
    }
    .ph-tab-nav-block .nav-tabs li {
        margin-right: 15px;
    }
    .tab-common-title h3{
        font-size: 14px;
    }
    .tab-common-desc p{
        font-size: 13px;
    }
    .physics-tab-block{
        padding-bottom: 0;
    }
    .ph-tab-content-block {
        padding-top: 20px;
    }
    .ph-post-time{
        top: 6px;
    }
    .cm-accordion-title{
        font-size: 14px;
        line-height: 1.2;
    }
    .attendance-drop-date .common-dropdown, .attendance-drop-date{
        width: 100%;
    }
    .attendance-drop-date .common-dropdown + .common-dropdown{
        margin-left: 0;
        margin-top: 10px;
    }
    .attendance-drop-date .common-dropdown .btn{
        width: 100%;
        min-width: 100%;
    }

}

@media screen and (max-width: 367px) {
    .login-popup-btn .common-btn{
        padding: 7px 20px;
    }
    .mobile-menu-trigger {
        margin-left: 15px;
    }
}
@media screen and (max-width: 320px) {}



