
/*********************  Default-CSS  *********************/
/*
    font-family: 'Poppins', sans-serif;
 */

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 1.4;
    color: #001B4A;
    font-size: 14px;
    font-weight: 400;
    background-color: #E8EEF0;
}
.anim{
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a,
span,
a:hover,
a:active,
button {
    text-decoration: none;
}

*::after,
*::before,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
    outline: none;
}

a:hover {
    color: #fff;
}

body .clearfix,
body .clear {
    clear: both;
    line-height: 100%;
}

body .clearfix {
    height: auto;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}


body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    margin: 0;
    line-height: 1.3;
}

p{
    margin: 0;
}

img {
    max-width: 100%;
}
.cm-overflow{
    overflow: hidden;
}
.common-btn {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
    display: inline-block;
    border-radius:35px;
    padding: 10px 40px;
    background: #20A6D2;
    border: 1px solid #20A6D2;
    transition: all 0.5s ease 0s;
}
.common-btn:hover {
    background: #ffffff;
    color: #20A6D2;
}

/*********************  Default-CSS close  *********************/


/*=============================== Batch 1 Chapter Home Page Start ===========================*/

/*----------------Header Css Start ---------------*/
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    background-color: #fff;
    border-bottom: 3px solid #20A6D2;
}
.header-block{
    display: flex;
    flex-wrap: wrap;
    padding:0 20px;
}
.logo-block {
    padding: 19px 0;
}
.header-content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 212px);
    padding-left: 25px;
}
.header-dropdown-ul ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100% ;
}
.header-dropdown-ul ul li{
    margin-right: 20px;
    padding-right: 20px;
    height: 100%;
    border-right: 1px solid rgba(117, 117, 117, 0.5);
}
.header-dropdown-ul ul li:last-child{
    margin-right: 0px;
    padding-right: 0px;
    border-right:0;
}
.header-title-block h3 {
    font-size: 18px;
    color: #272D36;
    font-weight: 500;
}
.cm-dropdown-label h3 {
    font-weight: 700;
    font-size: 14px;
}
.cm-dropdown-label p{
    font-weight: 400;
}
.header-right-block, .header-dropdown-ul{
    height: 100%;
}
.common-trainee-dropdown{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.beginner-label-drop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.beginner-label-drop h3 {
    font-size: 40px;
    font-weight: 400;
    color: #003BA1;
    margin-right:  18px;
}
.beginner-label-drop p{
    font-size: 12px;
    text-align: center;
}
.beginner-label-drop p span{
    background-color: #31960C;
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 2px 14px;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
}
.mail-dropdown{
    padding: 0 30px;
    position: relative;
}
.mail-highlight{
    position: absolute;
    display: inline-block;
    padding: 2px 10px;
    background-color: #CA1717;
    border-radius: 12px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    top: -7px;
    right: 10px;
}
.mobile-menu-trigger{
    display: none;
}
.mobile-menu-trigger span {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #444444;
    border-radius: 35px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin-right: auto;
}
.mobile-menu-trigger span:nth-child(1) {
    margin-top: 5px;
}
.mobile-menu-trigger span:nth-child(2){
    width: 25px;
}
.mobile-menu-trigger span:nth-child(3){
    width: 20px;
}
/*----------------Header Css End ---------------*/

/*----------------Sidebar Css Start---------------*/
.sidebar-wrapper {
    position: fixed;
    top: 83px;
    height: calc(100% - 83px);
    background-color: #001B4A;
    width: 200px;
    z-index: 100;
    padding-bottom: 60px;
}
.sidebar-block{
    height: 100%;
    overflow-y: auto;
}
.sidebar-user-box{
    background-color: rgba(0, 59, 161, 0.54);
    min-height: 145px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 20px 15px;
    text-align: center;
}
.user-icon {
    max-width: 60px;
    margin: 0 auto;
}
.user-icon img {
    border-radius: 50%;
}
.sidebar-user-name h4{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin: 10px 0 6px;
}
.sidebar-user-name p{
    color: #20A6D2;
}
.sidebar-menu-block{
    padding: 10px 0;
}
.sidebar-menu ul li a{
    padding: 13px 20px;
    color: #fff;
    font-weight: 500;
    display: block;
    position: relative;
}
.sidebar-menu ul li a svg{
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    max-width: 18px;
}
.sidebar-menu ul li.active a,
.sidebar-menu ul li a:hover{
    background-color: #20A6D2;
}
.sidebar-menu ul li a svg path{
    fill: #20A6D2;
    transition: all 0.5s ease 0s;
}
.sidebar-menu ul li.active a svg path,
.sidebar-menu ul li a:hover svg path{
    fill: #ffffff;
}
.sidebar-menu ul li + li{
    margin-top: 5px;
}
.menu-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.menu-arrow img {
    transition: all 0.5s ease 0s;
}
.sidebar-menu ul li.active a .menu-arrow img,
.sidebar-menu ul li a:hover .menu-arrow img{
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}
.cm-overlay {

    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 60;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.mobile-sidebar-close{
    display: none;
}
.sidebar-logout{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.sidebar-logout a{
    display: block;
    padding: 20px;
    background-color: #20A6D2;
    color: #ffffff;
}
.sidebar-logout a img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.sidebar-block::-webkit-scrollbar {
    width: 4px;
}
.sidebar-block::-webkit-scrollbar-track {
    background: #001B4A;
}
.sidebar-block::-webkit-scrollbar-thumb {
    background: #20A6D2;
}

/*----------------Sidebar Css End ---------------*/

/*----------------Main Content Wrapper Css Start ---------------*/
.main-content-wrapper{
    width: 100%;
    padding-left: 200px;
    padding-top: 83px;
}
.common-padding-content{
    padding: 25px 50px;
}
.common-breadcrumb-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.breadcrumb-left-col, .breadcrumb-right-col
.cm-filter-left-col, .cm-filter-right-col{
    width: 50%;
}
.breadcrumb-ul ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.breadcrumb-ul ul li {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(117, 117, 117, 0.5);
    font-size: 16px;
}
.breadcrumb-ul ul li:last-child{
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}
.breadcrumb-ul ul li a{
    font-size: 16px;
    font-weight: 600;
    color: #001B4A;
}
.breadcrumb-ul ul li.active span{
    color: #20A6D2;
    font-weight: 400;
}
.breadcrumb-ul ul li img{
    margin-top: -4px;
}
.common-filter-block, .filter-content-block, .filter-box ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter-content-block {
    justify-content: flex-end;
}
.common-filter-block{
    justify-content: space-between;
}
.filter-box ul li + li{
    margin-left: 15px;
}
.filter-sort-label h3{
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
}
.common-dropdown .btn{
    background-color: #fff;
    border: 1px solid rgba(32, 166, 210, 0.5);
    border-radius: 8px;
    font-size: 12px;
    min-height: 40px;
    min-width: 130px;
    text-align: left;
    padding: 10px 20px 10px 12px;
    position: relative;
    color: #212529;
    transition: color .5s;
}
.common-dropdown .btn:focus{
    outline: 0;
    box-shadow: none;
}
.common-dropdown .dropdown-toggle:after{
    display: none;
}
.common-dropdown .btn:before{
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 11px;
    height: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-image: url('../image/batch-1/down-arrow.svg'); */
    transform: translateY(-50%);
}
.common-dropdown .dropdown-menu{
    background-color: #fff;
    border: 1px solid rgba(32, 166, 210, 0.5);
    border-radius: 10px;
}
.common-dropdown .dropdown-item{
    font-size: 12px;
}
.common-dropdown .dropdown-item:hover{
    background-color: rgba(32, 166, 210, 0.4);
    color: #757575;
}
.filter-up-down-check{
    display: flex;
    align-items: center;
}
.up-down-box {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(32, 166, 210, 0.5);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.up-down-box.active{
    background-color: rgba(32, 166, 210, 0.2);
}
.up-down-box + .up-down-box {
    margin-left: 10px;
}
.filter-box + .filter-box {
    margin-left: 30px;
}
.filter-list-wrapper{
    padding-top: 20px;
}
.filter-list-box {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 35px;
}
.filter-list-img {
    position: relative;
}
.filter-list-img:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 27, 74, 0.25);
    pointer-events: none;
}
.modules-label{
    position: absolute;
    right: 7px;
    top: 7px;
    display: inline-block;
    background-color: #003BA1;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    padding: 4px 14px;
}
.filter-list-img img {
    max-height: 120px;
    object-fit: cover;
    width: 100%;
}
.filter-item-post-date p{
    font-size: 12px;
    font-weight: 500;
    color: #20A6D2;
    margin-bottom: 7px;
}
.filter-item-name h3 a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    color: #001B4A;
}
.filter-item-name h3 a:hover {
    color: #20A6D2;
}

.filter-list-desc{
    padding: 15px 22px;
}
.filter-item-progress .progress {
    height: 8px;
    border-radius: 15px;
    background-color: #E0E0E0;
}
.filter-item-progress .progress-bar{
    background-color: #31960C;
    border-radius: 15px;
}
.filter-item-progress p{
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-top: 5px;
}
.small-green-check {
    width: 16px;
    height: 16px;
    background-color: #31960C;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}
.small-green-check img{
    min-width: 10px;
}
/*----------------Main Content Wrapper Css End ---------------*/

/*=============================== Batch 1 Chapter Home Page End ===========================*/

/*=============================== Batch 1 Assessments Page Start ===========================*/
.filter-note p{
    font-size: 16px;
    color: #757575;
    font-style: italic;
}
.filter-note p span{
    font-style: normal;
    font-weight: 500;
    color: #20A6D2;
}
.assess-item-name{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}
.assess-list-wrapper .filter-item-post-date p{
    margin-bottom: 3px;
}
.starts-due-date-block{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.starts-date-hold p{
    font-size: 12px;
    color: #757575;
}
.starts-date-hold p:nth-child(1){
    color: #20A6D2;
    text-transform: uppercase;
}
.assess-list-wrapper .filter-item-name h3 a{
    min-height: 42px;
    margin-bottom: 0;
}
/*=============================== Batch 1 Assessments Page End ===========================*/

/*=============================== Batch 1 External Channels Page Start ===========================*/
.common-head-logo-title{
    display: flex;
    align-items: center;
}
.main-external-channels-wrapper .common-filter-block{
    align-items: unset;
}
.common-head-logo-title h3{
    font-size: 24px;
    font-weight: 600;
}
.common-head-logo-title img{
    margin-right: 15px;
}
.common-filter-show {
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(32, 166, 210, 0.5);
    padding: 20px 35px;
    border-radius: 8px;
    display: none;
    margin-top: 15px;
}
.common-search-hold{
    position: relative;
    margin-right: 15px;
}
.search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
.common-search-hold input{
    min-width: 220px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(32, 166, 210, 0.5);
    background-color: #fff;
    padding: 10px 30px 10px 15px;
    color: #000;
    font-size: 14px;
}.common-search-hold input::-webkit-input-placeholder{
     opacity: 1;
     color: #757575;
}
.filter-show-trigger img {
    margin-right: 12px;
}
.common-dropdown .filter-show-trigger .btn:before {
    /* background-image: url('../image/batch-1/filter_drop_arrow.svg'); */
    transition: all 0.5s ease 0s;
}
.common-dropdown .filter-show-trigger .btn.active:before {
    transform: rotate(180deg);
    top: 18px;
}
.common-dropdown .filter-show-trigger .btn.active{
    padding-bottom: 35px;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 0;
    margin-bottom: -1px;
}
.common-filter-show.active{
    border-radius: 8px 0px 8px 8px;
    margin-top: 0;
}
.filter-show-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fs-col-1{
    width: 465px;
}
.fs-col-2{
    width: 415px;
}
.fs-col-3{
    width: 300px;
}
.filter-category-ul ul{
    display: flex;
    flex-wrap: wrap;
}
.filter-category-ul ul li{
    width: 50%;
    margin-bottom: 10px;
}
.common-checkbox input {
    display: none;
}
.common-checkbox label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 12px;
    color: #757575;
    padding-left: 20px;
}
.common-checkbox label:before {
    content: '';
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #20A6D2;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 1px;
    vertical-align: middle;
    cursor: pointer;
    background: #ffffff;
}
.common-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #20A6D2;
    top: 4px;
    left: 3px;
    border-radius: 50px;
    padding: 4px;
}
.filter-box-inner-title h3{
    font-size: 12px;
    color: #20A6D2;;
    font-weight: 400;
    margin-bottom: 10px;
}
.filter-tag-ul ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter-tag-ul ul li {
    margin: 0 7px 9px 0;
}
.common-tag-check input {
    display: none;
}
.common-tag-check label{
    margin: 0;
    display: inline-block;
    border: 1px solid rgba(32, 166, 210, 0.5);
    font-weight: 400;
    font-size: 10px;
    color: #757575;
    text-align: center;
    padding: 2px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.common-tag-check label:hover{
    background-color: rgba(32, 166, 210, 0.2);
}
.common-tag-check input:checked + label {
    background-color: rgba(32, 166, 210, 0.2);
    border-color: rgba(32, 166, 210, 0.2);;
}
.filter-by-type{
    border: 1px solid rgba(32, 166, 210, 0.5);
    border-radius: 8px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: hidden;
}
.filter-by-type input{
    display: none;
}
.filter-by-type label {
    width: 40px;
    height: 40px;
    margin: 0;
    font-size: 12px;
    color: #20A6D2;
    cursor: pointer;
    border-right: 1px solid rgba(32, 166, 210, 0.5);
    overflow: hidden;
}
.filter-by-type label span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-by-type label:last-child{
    border-right: 0;
}
.filter-by-type input:checked + span {
    background-color: rgba(32, 166, 210, 0.2);
}
.main-external-channels-wrapper .filter-box ul{
    align-items: unset;
}
.ext-cha-name a{
    font-size: 18px;
    display: inline-block;
    color: #001B4A;
    font-weight: 600;
}
.ext-cha-name a:hover{
    color: #20A6D2;
}
.ext-cha-version1{
    padding: 15px 15px 25px 15px;
    position: relative;
}
.ext-cha-ic{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003BA1;
    border-radius: 5px;
}
.ext-cha-version1 .ext-cha-name,
.ext-cha-version2 .ext-cha-name {
    max-width: 85%;
}
.ext-img-desc{
    margin-top: 16px;
}
.ext-cha-img{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    max-width: 100px;
    margin: 0 15px 0px 0;
    float: left;
}
.ext-cha-img:before, .ext-cha-v2-img:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 27, 74, 0.25);
    pointer-events: none;
}
.ext-img-desc p{
    font-size: 12px;
    color: #757575;
}
.ext-cha-version2{
    padding: 15px 25px 25px 25px;
    position: relative;
}
.ext-cha-v2-img{
    position: relative;
    margin: 16px -25px 0;
}
.ext-cha-v2-img img {
    max-height: 60px;
    object-fit: cover;
    object-position: top;
    width: 100%;
}
.ext-common-desc{
    margin-top: 16px;
}
.ext-common-desc p{
    font-size: 12px;
    color: #757575;
}
.main-external-channels-wrapper .filter-list-box {
    height: 100%;
    margin-bottom: 0;
}
.main-external-channels-wrapper .fl-col{
    margin-bottom: 35px;
}
.ext-cha-ic img {
    width: auto;
}
.ext-cha-version3 .filter-list-img img{
    max-height: 80px;
    object-position: top;
}
.ext-common-content {
    padding: 15px 25px 25px;
}
.apply-filter-btn{
    margin-top: 25px;
}

/*=============================== Batch 1 External Channels Page End ===========================*/

/*=============================== Batch 1 Student-Assessment Page Start ===========================*/
.full-content-wrapper{
    padding-left: 0;
}
.exit-finish-test-block{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px;
}
.common-exit-btn a {
    display: inline-block;
    border-radius: 30px;
    background-color: #CA1717;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    padding: 7px 25px;
}
.common-exit-btn a:hover{
    background-color: rgba(202, 23, 23, 0.7);
}
.save-finish-btn a {
    display: inline-block;
    border-radius: 30px;
    font-weight: 600;
    font-size: 12px;
    padding: 7px 25px;
}
.save-continue-btn{
    background-color: #E0E0E0;
    color: #272D36;
}
.save-continue-btn:hover {
    background-color: rgba(224, 224, 224, 0.7);
    color: #272D36;
}
.finish-test-btn{
    background-color: #31960C;
    color: #ffffff;
    margin-left: 10px;
}
.finish-test-btn:hover{
    background-color: rgba(49, 150, 12, 0.7);
}
.time-management-wrapper {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding:45px 15px;
}
.time-section-block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.time-col-left {
    width: 305px;
}
.time-col-right {
    width: calc(100% - 305px);
    padding-left: 30px;
}
.time-section-box{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.time-management-title h3{
    font-size: 24px;
    font-weight: 600;
}
.time-inner-common-title h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}
.time-seat-ul{
    margin-top: 15px;
}
.time-seat-ul ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.time-seat-ul ul li{
    margin-bottom: 15px;
    width: 20%;
    padding: 0 8px;
}
.tm-seat-box{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #E0E0E0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
.seat-green{
    background-color: #31960C;
}
.seat-orange{
    background-color: #D28920;
}
.seat-blue{
    background-color: #20A6D2;
}
.time-seat-content + .time-seat-content{
    margin-top: 35px;
}
.time-question-box{
    background-color: #ffffff;
    padding: 20px 30px 15px;
    border-radius: 10px;
}
.time-question-box .time-inner-common-title h4 {
    color:#20A6D2 ;
}
.question-content{
    padding: 18px 0 0;
}
.question-hold-draw h3{
    font-weight: 600;
    font-size: 18px;
}
.question-answer-block{
    margin-top: 30px;
}
.question-answer-block .common-checkbox label{
    font-size: 14px;
    color: #272D36;
    padding-left: 35px;
}
.question-answer-block .common-checkbox label:before{
    width: 24px;
    height: 24px;
    top: -3px;
    border: 2px solid #272D36;
}
.question-answer-block .common-checkbox input:checked + label:before {
    background: #31960C;
    border-color: #31960C;;
}
.question-answer-block .common-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    padding: 0;
    background: transparent;
    border-radius: 0px;
}
.question-answer-block ul li + li{
    margin-top: 35px;
}
.flag-pagination-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 131px;
}
.que-line-draw{
    margin: 0 -30px 15px;
    width: calc(100% + 60px);
    height: 1px;
    background-color: #E0E0E0;
}
.flag-attempt-latter p{
    font-size: 12px;
    color: #757575;
}
.flag-attempt-latter p img {
    margin-right: 10px;
}
.flag-attempt-latter p a {
    color: #20A6D2;
}
.flag-attempt-latter p a:hover{
    color: #001B4A;
}
.question-pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.question-pagination a {
    min-width: 105px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 35px;
}
.question-pagination p{
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    margin: 0 16px;
}
.question-pagination p span{
    color: #001B4A;
}
.que-prev-btn{
    background-color: #757575;
}
.que-prev-btn:hover{
    background-color: rgba(117, 117, 117, 0.7);
}
.que-next-btn{
    background-color: #20A6D2;
}
.que-next-btn:hover{
    background-color: rgba(32, 166, 210, 0.7);
}
/*=============================== Batch 1 Student-Assessment Page End ===========================*/

/*=============================== Batch 1 Chapter Inner-01 Page Start ===========================*/
.common-inner-padding-block{
    padding: 0 35px 35px;
}
.common-back-nav-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}
.common-back-btn a{
    display: inline-block;
    color: #20A6D2;
    font-size: 16px;
}
.common-back-btn a svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: -1px;
}
.common-back-btn a svg path,
.hide-course-btn .common-btn svg path{
    transition: all 0.5s ease 0s;
}
.common-back-btn a:hover{
    color: #001B4A;
}
.common-back-btn a:hover svg path {
    fill: #001B4A;
}
.hide-course-btn .common-btn {
    font-size: 12px;
    padding: 7px 15px;
}
.hide-course-btn .common-btn svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}
.hide-course-btn .common-btn:hover{
    background-color: transparent;
}
.hide-course-btn .common-btn:hover svg path{
    fill: #20A6D2;;
}
.physics-inner-block{
    display: flex;
    flex-wrap: wrap;
}
.physics-col-left{
    width: calc(100% - 350px);
    padding-right: 50px;
}
.physics-col-right {
    width: 350px;
}
.physics-inner-box{
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}
.physics-header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.physics-title p{
    font-weight: 600;
    font-size: 16px;
    color: #20A6D2;
    margin-bottom: 5px;
}
.physics-title h3 {
    font-weight: 700;
    font-size: 18px;
}
.physics-title h3 span{
    font-weight: 400;
}
.physics-file-process p{
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 6px;
    text-align: right;
}
.common-progress {
    min-width: 260px;
    height: 8px;
    border-radius: 15px;
    background-color: #E0E0E0;
}
.common-progress .progress-bar{
    border-radius: 15px;
    background-color: #31960C;
}
.physics-video-img img{
    width: 100%;
}
.physics-details-box{
    background-color: #ffffff;
    padding: 12px;
    position: relative;
    border-radius: 10px;
}
.ph-image-title-block{
    display: flex;
    align-items: center;
}
.ph-image-hold {
    position: relative;
    overflow: hidden;
    max-height: 50px;
    width: 75px;
}
.ph-done-process .ph-image-hold:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    pointer-events: none;
}
.ph-image-hold img {
    object-fit: cover;
}
.ph-process-done-ic{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}
.ph-process-done-ic img {
    width: 16px;
    height: 17px;
    object-fit: unset;
}
.ph-title-hold{
    width: calc(100% - 75px);
    padding-left: 10px;
}
.ph-title-hold h3 {
    font-size: 14px;
    font-weight: 600;
    color: #003BA1;
    margin-bottom: 5px;
}
.ph-credit-label{
    font-weight: 500;
    color: #20A6D2;
    font-size: 12px;
    margin-bottom: 4px;
}
.ph-title-hold p{
    font-weight: 500;
    font-size: 12px;
    color: #757575;
}
.ph-post-time {
    position: absolute;
    top: 12px;
    right: 12px;
}
.ph-post-time img {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    margin-top: -1px;
}
.ph-post-time p{
    font-size: 12px;
    font-weight: 500;
    color: #757575;
}
.ph-progress-bar{
    margin: 10px 0 0;
}
.ph-progress-bar .common-progress{
    height: 2px;
}
.ph-process-completed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.ph-process-completed p{
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
}
.physics-details-box + .physics-details-box{
    margin-top: 10px;
}
.ph-under-process{
    background-color: #C5D3E4;
}
.physics-tab-block{
    padding: 25px 0;
}
.ph-tab-nav-block .nav-tabs {
    border-color: #E0E0E0;
}
.ph-tab-nav-block .nav-tabs .nav-link {
    margin: 0;
    border: 0;
    font-size: 18px;
    font-weight: 300;
    color: #272D36;
    padding: 0 0 10px;
}
.ph-tab-nav-block .nav-tabs .nav-link.active {
    background-color: transparent;
    font-weight: 700;
    color: #20A6D2;
    position: relative;
}
.ph-tab-nav-block .nav-tabs .nav-link.active:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #20A6D2;
    bottom: 0;
    left: 0;
}
.ph-tab-nav-block .nav-tabs li{
    margin-right: 25px;
}
.ph-tab-nav-block .nav-tabs li:last-child{
    margin: 0;
}
.tab-common-title h3{
    font-weight: 600;
    font-size: 18px;
    color: #003BA1;
    margin-bottom: 15px;
}
.tab-common-desc p{
    font-size: 16px;
    color: #272D36;
}
.ph-tab-content-block{
    padding-top: 32px;
}
.cm-card{
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}
.cm-card-header button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 12px 12px 12px 0;
}
.cm-card-header button.btn:focus{
    outline: 0;
    box-shadow: none;
}
.cm-accordion-number{
    width: 36px;
    height: 24px;
    border-radius: 0 12px 12px 0;
    background-color: #E0E0E0;
    color: #272D36;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-left: -1px;
}
.cm-accordion-title{
    min-width: 190px;
    color: #001B4A;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.cm-accordion-notify{
    background-color: #003BA1;
    padding: 3px 10px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}
.cm-accordion-notify img {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.cm-card-header button.collapsed .acc-minus {
    display: none;
}
.cm-card-header button .acc-minus{
    display: block;
}
.cm-card-header button .acc-plus{
    display: none;
}
.cm-card-header button.collapsed .acc-plus {
    display: block;
}

.cm-card-body .physics-details-box:first-child{
    border-top: 1px solid #E0E0E0;
}
.cm-card-body .physics-details-box {
    border-radius: 0;
}
.cm-card-body .physics-details-box + .physics-details-box {
    margin-top: 0px;
}
.cm-card + .cm-card{
    margin-top: 12px;
}
.chapter-inner-version-3 .physics-col-left{
    width: 100%;
    padding-right: 0;
}
.chapter-inner-version-3 .physics-tab-block {
    max-width: 1230px;
    margin: 0 auto;
}
.chapter-inner-version-3 .hide-course-btn .common-btn svg{
    margin-right: 12px;
    margin-left: 0;
}
/*=============================== Batch 1 Chapter Inner-01 Page End ===========================*/









